<pager:NAVIGATOR id="pager" items="5">

<table width='690' border='0' cellspacing='0' cellpadding='0' class='pager'>
<tr>
  <td width='50%' align='left'>
    <pager:FIRST><a href="{$href}" title="First Page">&#60;&#60;&nbsp;</a></pager:FIRST>

    <pager:PREV><a href="{$href}" title="Previous Page">&#60;&nbsp;</a></pager:PREV>

    <pager:LIST>

    <pager:CURRENT>&nbsp;<b>[&nbsp;{$number}&nbsp;]</b>&nbsp;</pager:CURRENT>
    <pager:NUMBER><a href="{$href}">&nbsp;{$number}&nbsp;</a></pager:NUMBER>

    </pager:LIST>

    &nbsp;
    <pager:NEXT><a href="{$href}" title="Next Page">&#62;</a></pager:NEXT>
    &nbsp;
    <pager:LAST><a href="{$href}" title="Last Page">&#62;&#62;</a></pager:LAST>
  </td>
  <td align='right'>
    Shown: from <b>{$BeginItemNumber}</b> to <b>{$EndItemNumber}</b>
    Total: <b>{$TotalItems}</b><br />
  </td>
</tr>
</table>



</pager:NAVIGATOR>

