<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>List Separator Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1 align="center">List Separator Example</h1>
  <P align="center">This example show how to use &#123;&#123;list:glue&#125;&#125; and &#123;&#123;list:fill&#125;&#125;tags</P>

  <h2>Simple separator</h2>
  {{list using='$#php_modules'}}
      {{list:item}}
        {$item.name}
      {{list:glue}}<br/>{{/list:glue}}
      {{/list:item}}
  {{/list}}

  <h2>Separator with defined step</h2>
  {{list using='$#php_modules'}}
    <ul>
      {{list:item}} 
        <li>{$item.name}</li>
      {{list:glue every='2'}}</ul><ul>{{/list:glue}}
      {{/list:item}}
    </ul>
  {{/list}}

  <h2>Valid layout with multi column output</h2>
  {{list using='$#php_modules'}}
    <table border='1'>
      <tr>
      {{list:item}} 
        <td>{$item.name}</td>
        {{list:glue every='4' literal='true'}}</tr><tr>{{/list:glue}}
      {{/list:item}}
      {{list:fill upto='4' items_left='$count'}}
        {{repeat times="{$count}"}}<td>&nbsp;</td>{{/repeat}}
      {{/list:fill}}
      </tr>
    </table>
  {{/list}}

  <h2>Several separators</h2>
  {{list using='$#php_modules'}}
    <table border='1'>
      <tr>
      <td>
      {{list:item}} 
        {$item.name}
        {{list:glue every='3'}}</td><td>{{/list:glue}}
        {{list:glue}}<br/>{{/list:glue}}
      {{/list:item}}
      </td>
      </tr>
    </table>
  {{/list}}

</body>
</html>
