<core:set title='Single order'/>
<core:WRAP file="admin_page.html" as="content">

<active_record:fetch using='src/model/Order' target="order" first='true'>
 <fetch:param record_id='{$#request.id}'/>
</active_record:fetch>

<core:datasource id="order">
<h2>Items</h2>
<list:list from='lines'>
<table cellpadding="0" cellspacing="0" class='list'>
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Summ</th>
  </tr>
  </thead>
  <list:item>
  <tr class='{$Parity}'>
   <td>{$product.title}</td>
   <td>${$price|number:2, '.'}</td>
   <td>{$quantity}</td>
   <td>${$summ|number:2, '.'}</td>
  </tr>
  </list:item>
</table>
</list:list>

<h2>Order status</h2>
Status : {$status_name}<br/>
Address : {$address}<br/>

<h2>Set other order status</h2>
<form id='form_status' name='form_status' method='post' runat='server'>
             <select:options_source from='^status_options' target='status'  default_value='0' default_name='------'/>
Status : <select id='status' name='status' runat='server'>
             </select>
<br/>
<input type='submit' class='button' name='set_status' value="Set new status" class='button'/><br/>
</form>


<h2>Customer</h2>
Name : {$user.name}<br/>
Email : <a href='mailto:{$user.email}'>{$user.email}</a><br/>
Login : {$user.login}<br/>

</core:datasource>

</core:wrap>
