<core:wrap file="page.html" in="content_zone">

<active_record:fetch class_path='src/model/News' target='last_news' limit='20'>
 <fetch:param find='published'/>
</active_record:fetch>

<h1>Project News</h1>
<a href="/news/rss" class='rss'></a>

<list:list id='last_news'>
<dl id='news'>

  <list:item>
  <dt>{$title}</dt>
  <dd>
    <span class='posted'>submitted by <b>{$author.login}</b> on {$news_date|i18n_date:"", "stamp", "", "%d.%m.%Y %H:%M"}</span>

    {$content|raw}

    <list:SEPARATOR><span class='dotted'><img src="images/1x1.gif" height='1' alt=''/></span></list:SEPARATOR>
  </dd>
  </list:item>
</dl>
</list:list>
<div class="border_bottom_news">&nbsp;</div>

</core:wrap>
