/*page*/
html, body {width:100%;height:100%;}
body{padding:0; margin:0; background: #FFF;}

/*design*/
a img{border:0}

/*navigation*/
a{ font: 9pt "Trebuchet MS";color:#5950a1;text-decoration:underline}
a:hover{text-decoration:none;}

/*=FONTS */
body, td, table, ul{font:8pt "Trebuchet MS",Times;color:#666666}
#profile dt {font:bold 13pt Tahoma,Times;color:#e54803 }
#navigation a {font:9pt Tahoma,Times; color:#fff;}
#header span {font:bold 10pt "Trebuchet MS",Times;color:#666666;}
#limb_links a{font:bold 10pt "Trebuchet MS";color:#666666;}
.pager b {font:bold 9pt "Trebuchet MS",Lucida;}

/*=TAGS*/
p {margin: 0; padding: 0;}
h1{font:21pt Tahoma, sans,Times; color:#FF6600;letter-spacing:0em;margin: 0;}
h2{font:15pt "Times New Roman",Times;color:#006d33;margin:  15px 0 5px;}
h3{font:15pt "Times New Roman",Times;border-top:10px solid #ededed;color:#006d33;margin: 0;padding: 9px 0 0;}
h4{font:bold 12pt "Trebuchet MS",Times;color: #EC510C;margin: 0 ;}

ul,ol, dl, dt, dd {margin:0;padding: 0;}

/*Misc*/
.border {border:2px solid #00AA00;padding: 10px;margin:10px 0;text-align:center;}
.error_border {border:2px solid #FF6600;padding: 10px;margin:10px 0;text-align:center;}
.center {width:900px;text-align:left;margin: 0 auto;}
.error, .req {color: red;}
.pager a {text-decoration:none;}
.pager b {color:#ff6600;}
.hr {clear:both;height:1px;background: url(../images/hr.gif) repeat-x left center;padding: 20px 0;}
.view_template {position:absolute;right:5px;top:118px;}

/*layout*/

  /*HEADER*/
   #header {background: url(../images/bgr/header.gif) repeat-x left top;height:116px;padding: 1px 0 0 0;text-align:center;}
      #logo {margin: 10px 10px 0 0px;}
      #header span {display:block;width:384px;text-align:right}
      #limb_links {position:absolute;right:5px;top:10px}

  /*=CONTENT*/
    #center {text-align:center;height:100%;}
    #wrapper {height:100%;width:900px;text-align:left;margin: 0 auto; }
    *html #wrapper {height:100%;}
      #container {width:100%;float: right; }
      #content {margin:15px 0 20px 219px;}

  /*=SIDEBAR*/
    #sidebar {width: 209px;float:left;margin-bottom: 20px;margin-right: -209px;}
      #navigation {background: url(../images/bgr/navigation_body.gif) no-repeat left top;padding-top: 1px;}
      #navigation ul {background: url(../images/bgr/navigation_bottom.gif) no-repeat left bottom;margin-top: 16px;padding-bottom: 14px;}
      #navigation ul li {background: url(../images/marker/square_white.gif) no-repeat left 7px;list-style-type:none;margin: 0 0 0 40px;padding-left: 10px;height:18px}
      #profile {background: url(../images/bgr/profile_bottom.gif) no-repeat left bottom;padding-bottom: 10px;margin-top: 12px;}
      #profile dt {background: url(../images/bgr/profile_header.gif) no-repeat left top;padding: 13px 0 13px 20px;}
      #profile dd {background: url(../images/bgr/profile_body.gif) repeat-y left top;padding:1px 10px 0 20px;}
      #profile dd a {display:block;}

/*FORM*/
.field {clear:both;padding: 5px 0;width:520px}
  .field label {text-align:right;float:left;width:150px;padding: 0 5px 0 0;}
  .required label {font-weight:bold;}
  .field .img {float:right}
.title_error {display:block;font-weight:bold;color:red;margin:15px 0;}
.list_errors {margin-top: 2px;margin: 0 0 0 15px;padding:0;}
.input, .textarea {margin-bottom: 5px;}
/*TABLE*/
table.list{border:0px;border-left:solid 1px #d7d6d0; width: 690px;margin-bottom: 15px;border-collapse:collapse;}
.list td, .list th	{padding:0 5px 0 5px;}
.list thead tr			{background-color:#FF6600;}
.list thead	th		{padding:5px; border:solid 1px #d7d6d0; font:bold .8em Tahoma; text-align:center;  white-space:noWrap; text-transform:uppercase;color:#fff}
.list td .img {float:left;margin: 5px 10px 10px 0;}
.list thead	.left	{border-left:solid 2px #7f7f7f;}
.list thead	.right{border-right:solid 2px #7f7f7f;}

.list .left	{border-left:solid 1px #d7d6d0;}
.list td		{border-right:solid 1px #d7d6d0; padding:10px; height:33px; border-bottom: solid 1px #d7d6d0;vertical-align:top;}
.list .odd	{background-color:#d7d6d0;}

.list .top	td			{border-top:solid 1px #d7d6d0;}

.list td:before  {content:url(../images/1x1.gif);}
/*}}}*/







