<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>List Properties Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
.odd {
    background-color: lightyellow;
}
.even {
    background-color: lightgrey;
}

.box {
    background-color: silver;
    padding: 5px;
    margin-bottom: 10px;
}
</style>
</head>
<body>
<h1 align="center">List Properties Example</h1>
  <P align="center">A simple list formatted into a table.</P>
  <P align="center">Here we used some of the &#123;&#123;list&#125;&#125; tag properties like <b>counter</b> and <b>parity</b></P>

  {{list using='$#php_modules' parity='$Parity' counter='$row_number'}}
    <TABLE BORDER="1" ALIGN="CENTER" CELLPADDING="5">
      {{list:item}}
        <TR class={$Parity}>
          <TD>{$row_number}</TD>
          <TD>{$item.name}</TD>
          <TD>{$item.description|default:"&nbsp;"}</TD>
        </TR>
      {{/list:item}}
    </TABLE>
  {{/list}}

  <P align="center">The second example shows how to use <b>&#123;&#123;list:odd&#125;&#125;</b> and  <b>&#123;&#123;list:even&#125;&#125;</b> tags</P>

  {{list using='$#php_modules'}}
    <TABLE BORDER="1" ALIGN="CENTER" CELLPADDING="5">
      {{list:item}}
        {{list:odd}}<? $color="lightgrey"; ?>{{/list:odd}}
        {{list:even}}<? $color="lightyellow"; ?>{{/list:even}}

        <TR bgcolor="{$color}">
          <TD>{$item.name}</TD>
          <TD>{$item.description|default:"&nbsp;"}</TD>
        </TR>
      {{/list:item}}
    </TABLE>
  {{/list}}

</body>
</html>
