<pager:NAVIGATOR id="pager" items="10">

Shown: from <b>{$BeginItemNumber}</b> to <b>{$EndItemNumber}</b>
&nbsp; &nbsp;

<pager:FIRST><a href="{$href}" title="First Page">&#60;&#60;</a></pager:FIRST>
&nbsp;
<pager:PREV><a href="{$href}" title="Previous Page">&#60;</a></pager:PREV>

<pager:LIST>

<pager:CURRENT>&nbsp;<b>[&nbsp;{$number}&nbsp;]</b>&nbsp;</pager:CURRENT>
<pager:NUMBER><a href="{$href}">&nbsp;{$number}&nbsp;</a></pager:NUMBER>

</pager:LIST>

&nbsp;
<pager:NEXT><a href="{$href}" title="Next Page">&#62;</a></pager:NEXT>
&nbsp;
<pager:LAST><a href="{$href}" title="Last Page">&#62;&#62;</a></pager:LAST>

&nbsp; &nbsp;
Total: <b>{$TotalItems}</b>
</pager:NAVIGATOR>

