<core:INCLUDE file='_cp/form_errors.html'>

<div class="field" >
  <label for="_news_date" runat="server">News date</label>
  <limb:calendar name="news_date" id="news_date" calendar_id="_news_date" theme="ru" plugin="plugins_time_ru.js" title="News date" class='req'>
</div>

<div class="field">
  <label for="title" runat="server">Title</label>
  <input type="text" name="title" size="40" title='Title' class='req'/>
</div>

<core:INCLUDE file='_cp/image_select.html'>

<div class="field">
  <label for="content" runat="server">Content</label>
  <wysiwyg name="content" title='Content' cols='50' rows='20'></wysiwyg>
</div>
