<core:set title='Checkout'/>
<core:WRAP file="page.html" as="content">

<core:datasource from='#cart'>
Your cart contains {$items_count} items.

<list:LIST from="items">
<table cellpadding="0" cellspacing="0" class='list'>
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Summ</th>
  </tr>
  </thead>
  <list:item>
  <tr class='{$Parity}'>
   <td>{$product.title}</td>
   <td>${$price|number:2, '.'}</td>
   <td>{$quantity}</td>
   <td>${$summ|number:2, '.'}</td>
  </tr>
  </list:item>
</table>
</list:LIST>

Total summ is : <b>${$total_summ|number:2, '.'}</b>
<br/>

<form name='checkout_form' id='checkout_form' method='POST' runat='server'>

  <label for='address'>Delivery address:</label><br/>
  <textarea type="text" name="address" id="address" title="Delivery address"></textarea><br/>

  <input type='submit' class='button' name='submitted' value="Finish order" class='button'/><br/>
</form>

</core:datasource>

</core:wrap>
