RewriteEngine On

#let's support old links for some time
RewriteRule root(.*)$ http://limb-project.com [R=301,QSA,L]
RewriteCond %{REQUEST_URI} last-forum-topics\.php$
RewriteRule ^(.+)$ http://limb-project.com/forum/rss.php [R=301,L]

RewriteCond %{REQUEST_URI} last-news-feed\.php$
RewriteRule ^(.+)$ http://limb-project.com/news/rss [R=301,L]

RewriteRule forum(.*)$ http://forum.limb-project.com$1 [R=301,QSA,L]
RewriteRule wiki(.*)$ http://wiki.limb-project.com$1 [R=301,QSA,L]

RewriteCond %{REQUEST_URI} !.*\.(js|ico|swf|css|htm|html|jpg|jpeg|gif|png)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ /index.php?%{QUERY_STRING} [L]
