<core:wrap file="page.html" in="content_zone">

<core:include file='_include/notify_zone.html'>

<form method="POST" id='user_form' runat='server'>

  <core:wrap file="_cp/dialog_central_part.html">

  <core:wrap in='title_zone'><h2>Login</h2></core:wrap>

  <div class='field'>
  <label for='login'>Login:</label>
  <input type="text" name="login" id="login" value="" title="Login"/>
  </div>

  <div class='field'>
  <label for='passwd'>Password:</label>
  <input type="text" name="password" id="password" type="password" title="Password"/>
  </div>

  <div class='form-buttons'>
    <input type='submit' class='button' name='submitted' value="Submit" class='button' style="width:60px"/>
  </div>

  <input type='hidden' name='redirect' value='{$#request.redirect}' runat='client'/>

  </core:wrap>

</form>

</core:wrap>
