<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Dynamic wrapping example with &#123;&#123;insert&#125;&#125; tag</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1 align="center">Dynamic wrapping example with &#123;&#123;insert&#125;&#125; tag</h1>
This template is a wrapper template.
<p/>It has a slot (placeholder) in the form of &#123;&#123;slot&#125;&#125; tag which will be replaced with some content using &#123;&#123;insert&#125;&#125; tag.<br/>

<p/>Try pressing "refresh" several times
<p/>
<span style="color:green">
<strong>Before slot</strong><br/>
<i>{{slot id='content'}}<br/></i>
<strong>After slot</strong><br/>
</span>
</body>
</html>
