{{insert file="wrap.html" into="content"}}
  <br/>
  <h2>{$#title}</h2>
  <br/>
  {{list using="$#examples" as='$example' parity="$Parity"}}
    <table width="100%" border="0" class='examples'>
    <thead>
     <tr>
       <th>Description</th>
       <th>Templates</th>
       <th>Php file</th>
       <th>Generated PHP code</th>
     </tr>
     </thead>
     <tbody>
    {{list:item}}
    <tr valign="top"  class='{$Parity}'>
      <td><a href="{$example.exec}">{$example.description}</a></td>
      <td>
       {{list using='$example.templates' as='$template'}}
       <ul>
         {{list:item}}
         <li><a href='{$template.path}'>{$template.file}</a></li>
         {{/list:item}}
       </ul>
       {{/list}}
      </td>
      <td>
      <a href='{$example.php_file.path}'>{$example.php_file.file}</a>
      </td>
      <td>
      <a href='{$example.compiled}'>Generated PHP code</a>
      </td>
    </tr>
    {{/list:item}}
    </tbody>
    </table>
  {{/list}}
{{/insert}}
