<!-- Powered by LIMB | http://www.limb-project.com/ -->
<!-- Designed by BIT | http://www.bit-creative.com/ -->
<html>
<head>
  <title>&#123;&#123;macro&#125;&#125; template engine examples (Limb3 &#123;&#123;macro&#125;&#125; package usage examples)</title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
   <?php
  echo "<base href='". MACRO_HTTP_BASE_PATH ."'>";
  ?>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript">_uacct = "UA-207256-3";urchinTracker();</script>
</head>
<body>

  <div id="header">
    <div class="center">
      <a href='/'><img src="images/logo.limb.gif"  width='476' height='45' alt='&#123;&#123;macro&#125;&#125; template engine examples' title='Limb3 MACRO package examples' id='logo'/></a>
      <div id="limb_links"><a href="http://limb-project.com">limb-project.com</a>&nbsp;|&nbsp;<a href="http://bits.limb-project.com">bits.limb-project.com</a></div>
    </div>
  </div>
  <div id="center">
    <div id="content">

      <h1>&#123;&#123;macro&#125;&#125; template engine examples</h1>
      <div class="breadcrumbs">
      {{list using="$#crumbs"}}
          {{list:item}}
            <a href="./index.php?group={$item.path}">{$item.name}</a>
          {{list:separator}} &raquo; {{/list:separator}}
          {{/list:item}}
      {{/list}}
      </div>
      {{slot id="content"/}}

    </div>

    <div id="bottom">
      <div class="center">
        <span id='copyright'>Copyright © 2003-2008 BIT</span>
        <a href="http://www.bit-creative.com/" target="_blank" title="Бюро Информационных Технологий (ООО БИТ). Создание сайтов на собственной платформе Limb. Мультимедиа презентации. Дизайн." id='bit'><img src="images/bit.gif" onMouseOut="this.src='images/bit.gif';" onMouseOver="this.src='images/bit_hover.gif';"  alt="Бюро Информационных Технологий (ООО БИТ). Создание сайтов на собственной платформе Limb. Мультимедиа презентации. Дизайн." width="80" height="21"/></a>
      </div>
    </div>

  </div>

</body>
</html>
