<core:wrap file="page.html" in='content_zone'>

<fetch using='src/fetcher/RequestedNodeFetcher' target='node' first='true'/>

<core:datasource id='node'>

<h1>{$title}</h1>
<table width='100%' border='0' cellspacing='0' cellpadding='0' class='border1'>
<tr>
  <td style='padding:10px 0 30px 0;'>
    {$object.content|raw}
  </td>
</tr>
</table>


<list:list from='object.published_kids'>
  <list:item>
   <div class='title' id='marked'><a href='{$node.url_path}'>{$node.title}</a></div>
  </list:item>
</list:list>

<list:list from='object.file_links'>
  <list:item>
   <div class='list_item'><div class='title' id='marked'><a href='{$file.show_url}'>{$title}</a></div></div>
  </list:item>
</list:list>

</core:datasource>

</core:wrap>


