
<dl id="download">
  <dt>Download</dt>

  <dd>

  <!--
  <fetch using='src/fetcher/DownloadsFetcher' target="downloads"/>

  <list:LIST id='downloads'>
  <strong>From SourceForge</strong><br/>
  <list:ITEM>

    <core:OPTIONAL for='3x'>
    <list:LIST from='3x'>
    <list:ITEM>
        {$date}<a href="{$link}">{$release}</a>
    </list:ITEM>
    </list:LIST>
    </core:OPTIONAL>

    <core:OPTIONAL for='2x'>
    <list:LIST from='2x'>
    <list:ITEM>
        {$date}<a href="{$link}">{$release}</a>
    </list:ITEM>
    </list:LIST>
    </core:OPTIONAL>

  </list:ITEM>
  </list:LIST>

  <br/>
-->

  <fetch using='src/fetcher/LastChannelReleasesFetcher' target="last_releases"/>
  <strong>From Limb3 PEAR channel</strong><br/>

  <list:LIST id='last_releases'>
  <list:ITEM>

  {$date}<br/>
  <a href="{$link}">{$title}</a>

  </list:ITEM>
  <br/><a href="http://pear.limb-project.com">more...</a>
  </list:LIST>

  </dd>
</dl>

