<core:INCLUDE file='_include/bottom_navigation.html'>

<div id="bottom">
  <div class="center">
    <span id='copyright'>Copyright © 2003-2007 BIT</span>
    <a href="http://www.bit-creative.com/" target="_blank" title="Бюро Информационных Технологий (ООО БИТ). Создание сайтов на собственной платформе Limb. Мультимедиа презентации. Дизайн." id='bit'><img src="images/bit.gif" onMouseOut="this.src='images/bit.gif';" onMouseOver="this.src='images/bit_hover.gif';"  alt="Бюро Информационных Технологий (ООО БИТ). Создание сайтов на собственной платформе Limb. Мультимедиа презентации. Дизайн." width="80" height="21"/></a>
  </div>
</div>
