<dl id="thanks">
  <dt>Thanks to</dt>
  <dd>
    <a href="http://agiledev.ru"><img src="http://agiledev.ru/110x32.gif" border="0" alt="AgileDev.ru" /></a><br/>
    <a href="http://sourceforge.net"><img src="http://sourceforge.net/sflogo.php?group_id=109345&amp;type=1" border="0" alt="SourceForge.net Logo" /></a><br/>
    <a href="http://www.cenqua.com/fisheye"><img src="http://www.cenqua.com/images/fisheyed.gif" width="89" height="33" border="0" alt="Project Supported by FishEye"/></a><br/>
    <a href="http://www.atlassian.com/c/NPOS/10160"><img src="/images/jira.gif" width="120" height="60" border="0" alt="Project tracked by JIRA"/></a>
  </dd>
</dl>
