<core:set title='Users'/>
<core:wrap file="admin_page.html" in="content">

<route_url params='action:create'>Create user</route_url>

<active_record:fetch using='src/model/User' target="users" navigator='pager' />

<core:include file='pager.html'/>

<list:list id='users'>
<table  cellspacing=0 cellpadding=0 class='list'>
<thead>
<tr>
  <th>Name</th>
  <th>Login</th>
  <th>E-mail</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>
<list:item>
<tr class='{$Parity}'>
  <td>{$name}</td>
  <td>{$login}</td>
  <td><a href='mailto:{$email}'>{$email}</a></td>
  <td>
    <route_url params='action:change_password,id:{$id}'>Change password</route_url>
    <route_url params='action:edit,id:{$id}'>Edit</route_url>
    <route_url params='action:delete,id:{$id}'>Delete</route_url>
  </td>
</tr>
</list:item>
</tbody>
</table>
</list:list>

</core:wrap>
