<core:set title='Change user password'/>
<core:wrap file='admin_page.html' in='content'>

<form method="post" name="user_form" id="user_form" runat="server">

  <core:include file='form_errors.html'/>

  <div class='field'>
  <label for="password">New password:</label>
  <input name="password" type="password" title="New password" class="input"/>
  </div>

  <div class='field'>
  <label for="repeat_password">Repeat password:</label>
  <input name="repeat_password" type="password" title="Repeat password" class="input"/>
  </div>

  <input type="submit" name="submitted" value="Change password"/>

</form>

</core:wrap>
