<core:set title='Create user'/>
<core:wrap file="admin_page.html" in="content">

<form id='user_form' name='user_form' method='post' runat='server'>

   <core:include file='form_errors.html'/>

   <div class="field">
   <label for="password">Password:</label>
   <input name="password" type="password" title="Password" class="req"/>
   </div>

   <div class="field">
   <label for="repeat_password">Repeat password:</label>
   <input name="repeat_password" type="password" title="Repeat password" class="req"/>
   </div>

   <core:include file='admin_user/form_fields.html'/>

   <input id='create' name='create' type='submit' value='Create' runat='client'/>
</form>

</core:wrap>
