<core:wrap file="_cp/popup.html" in="content_zone">

<h1>Delete documents</h1>

<form id='document_form' name='document_form' method='post' runat='server'>

  <active_record:fetch class_path='src/model/Document' target="items_to_delete">
    <fetch:param record_ids="{$#request.ids}">
  </active_record:fetch>

  <list:list id='items_to_delete'>
  <table border="0" cellpadding="0" cellspacing="0" class="list" width="100%">
  <tr class=header>
    <th><core:INCLUDE file='_cp/selector.html'></th>
    <th>Title</th>
    <th>URL</th>
  </tr>
  <tbody>
    <list:ITEM>
    <tr>
      <td class="left"><input type='checkbox' name='ids[]' value='{$id}' class='input'/></td>
      <td>{$node.title}</td>
      <td>{$node.url_path}</td>
    </tr>
    </list:ITEM>
  </tbody>
  </table>
  </list:LIST>

  <core:include file='_cp/delete_common_elements.html'>

</form>

</core:wrap>
