<core:set title='Main page'/>
<core:wrap file="page.html" in="content">
<br/>
<h2>Random products from the store</h2>

<active_record:fetch using='src/model/Product' find='for_front' target="products" limit='3'/>

<list:list id="products">
<table cellpadding="0" cellspacing="0" class='list'>
  <thead>
  </thead>
  <list:item>
  <tr>
   <td>
      <dl>
        <dt>
          <b>{$title}</b><br />
          Price:<b>${$price|number:2, '.'}</b><br/>
          <route_url params='controller:cart,action:add,id:{$id}'>Add to cart</route_url><br/>
         </dt>
         <dd>
            <img src='{$image_path}' class='img'/>
            {$description|nl2br|raw}
         </dd>
      </dl>
    </td>
  </tr>
  </list:item>
</table>
</list:list>

<br/>
</core:wrap>
