<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Simple List Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1 align="center">Simple List Example</h1>
  <P align="center">A simple list formatted into a table</P>

  {{list using='$#php_modules' as='$module'}}
    <TABLE BORDER="1" ALIGN="CENTER" CELLPADDING="5">
      {{list:item}}
        <TR>
          <TD>{$module.name}</TD>
          <TD>{$module.description|default:"&nbsp;"}</TD>
        </TR>
      {{/list:item}}
    </TABLE>
  {{/list}}

</body>
</html>
