/*page*/
html, body {width:100%;height:100%;}
body{padding:0; margin:0;}
/*design*/
a img{border:0}

/*navigation*/
a{ font: 9.5pt "Trebuchet MS";color:#5950a1;text-decoration:underline}
a:hover{text-decoration:none;}

/*=FONTS */
body, td, table, ul{font:9.5pt "Trebuchet MS";color:#666666}
b{font-family:Tahoma}
#copyright {font:8pt Tahoma;}
#download dt {font:bold 13pt Tahoma;color:#e54803 }
#forum dt, #svn dt, #thanks dt {font:bold 11pt "Trebuchet MS";color:#000}
#forum dd b, #svn dd b, #thanks dd b,#download dd strong{color:#000}
#navigation a {font:bold 10pt Tahoma; color:#fff;letter-spacing:1px;}
#news dt{font:13pt Tahoma, sans;color:#666666;}
.posted {font-size:8pt; color:#000}
.view_more, .view_more a {color:#FF6600;}


/*=TAGS*/
h1{font:24pt "Trebuchet MS"; color:#FF6600;letter-spacing:0em;  margin:3px 0 3px 0;}
h2{font:15pt Tahoma, sans;color:#666666;margin:  0;}
h3{font:13pt Tahoma, sans;color:#666666;margin: 0;padding: 9px 0 0;}
h4{font:bold 12pt "Trebuchet MS";color: #666666;margin: 0 ;}
pre { background: #fffff8; border: 1px dotted #6C87B0;color: #385a72;margin: 1em;overflow: auto;padding: 10px 5px 5px 15px;width: auto;font: 13px "Courier New", Courier, monospace;width:480px;}
dl, dt, dd {margin:0;padding: 0;}

/*Misc*/
div.note{background: #fffff8;border: 1px dotted #F5821F;margin: 1em;width: 480px;padding: 10px 5px 5px 15px;color: #F5821F;overflow: auto;}
.border_bottom_sidebar {background: url(../images/bgr/border_bottom.gif) no-repeat left top;height:10px}
.border_bottom_news {background: url(../images/bgr/newsb_border.gif) no-repeat right top;height:14px;width:491px;margin: -13px 0 0 0;padding: 0 0 0 0;}
*html .border_bottom_news {margin: 0;}
.clearing {height: 0;clear: both;}
.center {width:777px;text-align:left;margin: 0 auto;}
.dotted {background: url(../images/bgr/dotted.gif) no-repeat left bottom;display:block;clear:both;padding-top:20px;border-right:1px solid #7d7d7d;}
*html .dotted {border:0;}
.hr {background: url(../images/bgr/hr.gif) repeat-x left center;height:16px;margin: 1px 0;}
.limb_title {position:relative;left:-23px}
.more {display:block;text-align:right}
.posted {display:block;text-align:right; margin-bottom:7px;}
.rss {background: url(../images/button/rss.gif) no-repeat left top;float:right;height:14;width:36px;margin: -25px 24px 0 0;}
*html .rss {margin-right: 29px;}
.view_more {margin:9px 20px 12px 0; padding-right:9px;float:right}
/*layout*/

  /*HEADER*/
    #header {background: url(../images/bgr/header.gif) repeat-x left top;height:90px;text-align:center;}
      #logo {margin: 12px 0 0 21px;}

  /*BOTTOM*/
    #bottom {background: url(../images/bgr/bottom.gif) repeat-x left top;height:86px;text-align:center;}
      #copyright {display:block;margin: 0 0 4px 35px;padding-top: 9px;}
      #bit {display:block;margin-left: 55px;}

  /*MENU*/
    #top_menu, #bottom_menu {background:#7d7d7d;text-align:center;height:21px;padding: 3px 0 0 0;}
    #top_menu ul {margin:0 0 0 15px;padding: 0;}
    #top_menu li, #bottom_menu li {display:inline;}
    #top_menu li a, #bottom_menu li a {font-size:9pt;color:#FFF;text-decoration:none;}
    #top_menu li a:hover, #bottom_menu li a:hover {text-decoration:underline}
    #top_menu .item, #bottom_menu .item {background: url(../images/menu/item.gif) no-repeat left 3px;padding: 0 1px 0;margin: 0 13px 0;width:1px}
    #bottom_menu {clear:both;text-align:center}
    #bottom_menu ul{ margin: 0  20px 0;}
    #bottom_menu .center {text-align:right}

  /*=CONTENT*/
    #center {text-align:center;height:100%}
    #wrapper {height:100%;width:795px;text-align:left;margin: 0 auto; }
    *html #wrapper {height:100%;}
      #container {width:100%;float: right;}
      #content {margin:0 0 20px 277px;width:513px}
      *html #content {width:100%}
      #limb_info {width:489px;border-right:1px solid #7d7d7d;padding-top:1px;margin-bottom: 30px;}
      *html #limb_info {width:490px;margin-top: -4px;}
      #limb_info p {margin-right:10px;}
        #news {background: url(../images/bgr/newsh_border.gif) no-repeat left top;width:513px;padding: 15px 0 0 0;position:relative;left:-23px}
        #news dt, #news dd {border-right:1px solid #7d7d7d;border-width:0 1px 0 0;padding: 13px 11px 0 0px;margin-left: 23px;}
        #news p {margin-left:0;}
        #news pre {width:420px}

  /*=SIDEBAR*/
    #sidebar {width: 254px;float:left;position:relative;overflow:hidden;margin: 0 -254px 20px 0;}
      #navigation {background:#888 url(../images/bgr/navigation_body.gif) no-repeat left top;padding-top: 1px;}
      #navigation ul {background: url(../images/bgr/navigation_bottom.gif) no-repeat left bottom;margin: 16px 0 0 0;padding: 0 0 14px 0;}
      #navigation ul li {background: url(../images/marker/square_white.gif) no-repeat left 7px;list-style-type:none;margin: 0 0 0 22px;padding-left: 10px;height:18px}
      #download {background: url(../images/bgr/download_bottom.gif) no-repeat left bottom;padding-bottom: 10px;margin-top: 12px;}
      #download dt {background: url(../images/bgr/download_header.gif) no-repeat left top;padding: 13px 0 13px 22px;}
      #download dd {background: url(../images/bgr/download_body.gif) repeat-y left top;padding:0 10px 0 22px;word-wrap:break-word;}
      #download dd a {display:block;}
        #forum {background: url(../images/bgr/border_bg_left.gif) repeat-y left top;padding-bottom:5px;}
        #forum dt{background: url(../images/bgr/border_top.gif) no-repeat left top;padding: 20px 30px 3px 22px;margin-top: 20px;}
        #forum dd{padding:1px 30px 5px 22px;}
        #svn {background: url(../images/bgr/border_bg_right.gif) repeat-y left top;padding-bottom:10px;}
        #svn dt{background: url(../images/bgr/border_left.gif) no-repeat left top;padding: 30px 30px 3px 22px;}
        #svn dd{padding:1px 30px 5px 22px;}
        #thanks {background: url(../images/bgr/border_bg_left.gif) repeat-y left top;padding-bottom:10px;}
        #thanks dt{background: url(../images/bgr/border_right.gif) no-repeat left top;padding: 30px 0 3px 22px;}
        #thanks dd{padding:1px 30px 5px 22px;}
        #thanks a {display:block}

/*form*/
.input{border:solid 1px #A5ACB2; font:8pt Verdana; color:#000000}
.select{border:solid 0px #A5ACB2; font:8pt Verdana; color:#000000}
.req {font:8pt Tahoma, sans;text-align:right;padding: 12px 10px 0 0 ; height:35px}
.input, .textArea {width:248px}
.textArea {height:100px}
.button {}
.form-errors .title {color:#bd1a01;font-weight:bold}

/*experimental*/
.field				{clear: both; height:30px;}
.field .req		{border:solid 1px #d7d6d0; border-left:solid 3px #c78094; }
.field input	{border:solid 1px #d7d6d0; }
.field label	{width:100px; text-align:right; margin:0px 10px 0 0; font:bold 12px Tahoma; float: left;}
.form-buttons {padding-left:193px}












