<core:set title='Your Cart'/>
<core:WRAP file="page.html" as="content">

<core:datasource from='#cart'>
<core:optional for='items_count'>
Your cart contains {$items_count} items.

<list:LIST from="items">
<table cellpadding="0" cellspacing="0" class='list'>
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Summ</th>
  </tr>
  </thead>
  <list:item>
  <tr class='{$Parity}'>
   <td>{$product.title}</td>
   <td>${$price|number:2, '.'}</td>
   <td>{$quantity}</td>
   <td>${$summ|number:2, '.'}</td>
  </tr>
  </list:item>
</table>
</list:LIST>

Total summ is : <b>${$total_summ|number:2, '.'}</b>
<br/>
<route_url params='action:empty'>Empty cart</route_url><br/>
<route_url params='action:checkout'>Checkout</route_url>
</core:optional>
<core:default for='items_count'>
You cart is empty at the moment!
</core:default>
</core:datasource>

</core:wrap>
